<section class="fullscreen {{class}}" id={{id}}>
    <div class="statement">
    <h1>{{headline}}</h1>
    <h3><a href={{link}}>{{linkText}}</a></h3>
    </div>
    <a class='arrowLink' href={{next}}>
    {{>down-arrow }}
    </a>
</section>