<div id="{{id}}Wrapper" class="inputWrapper">
    <label for={{id}}>{{label}}</label><br>
    <input class="shadow-2" type='text' id={{id}} name={{id}} placeholder={{placeholder}} pattern="[A-Za-zöÖüÜäÄ]+" required>
</div>