<div class="signers">
<h1>{{count}} people have signed this petition.</h1>
<div class="tableWrapper">
<table class="names">
    <tr><th>Name</th><th>Age</th><th>City</th><th>Date signed</th></tr>
    {{#signatures}}
    <tr><td>
        {{#if url}}<a href="{{url}}">{{/if}}{{first}} {{last}}{{#if url}}</a>{{/if}}
        </td><td>{{age}}</td><td><a href="/petition/signers/{{city}}">{{city}}</a></td><td>{{date}}</td></tr>
    {{/signatures}}
</table>
</div>
</div>