<div class="container" id="editWrapper">
    <div class="formWrapper shadow-3">
    <header class="formHeader shadow-3">
        <h2>Edit your profile</h2>
    </header>
    
    <form class="form" id="editProfile" name="editProfile" action='/profile/edit' method='POST'>
        {{>error}}
        {{#usrData}}
        <div id="firstWrapper" class="inputWrapper">
            <label for="first">First Name</label><br>
            <input class="shadow-2" type='text' id="first" name="first" pattern="[A-Za-zöÖüÜäÄ]+"  value={{first_name}}>
        </div>
        <div id="lastWrapper" class="inputWrapper">
            <label for="last">Last Name</label><br>
            <input class="shadow-2" type='text' id="last" name="last" pattern="[A-Za-zöÖüÜäÄ]+"  value={{last_name}}>
        </div>
        <div id="emailWrapper" class="inputWrapper">
            <label for="email">Email</label><br>
            <input class="shadow-2" type='text' id="email" name="email" value={{email}}>
        </div>
       
        <div id="ageWrapper" class="inputWrapper">
            <label for="age">Age</label><br>
            <input class="shadow-2" type='number' id="age" name="age" value={{age}}>
        </div>
        <div id="cityWrapper" class="inputWrapper">
            <label for="city">City</label><br>
            <input class="shadow-2" type='text' id="city" name="city" value={{city}}>
        </div>
        <div id="urlWrapper" class="inputWrapper">
            <label for="homepage">Homepage</label><br>
            <input class="shadow-2" type='url' id="homepage" name="homepage" value={{homepage}}>
        </div>
         <div id="emailWrapper" class="inputWrapper">
        <a href="/updatePassword">Change Password</a>
        </div>
        {{/usrData}}
        {{>submitBtn id='submit' text="Update"}}
        {{>csrf}}
    </form>
    
</div>
</div>