<div class="container" id="thankYouWrapper">
    <h1>Thank you for signing the petition to {{petitionReason}}!</h1>
    <div id="signers">
        <h2>Thank you {{first}}, for being one of <a href="/petition/signers">{{signers}} people</a> who have supported our cause</h2>
        <figure class="signature-card shadow-2">
            <img src={{signature}} style="background-color: white;" class='shadow-2'/>
            <figcaption class='shadow-2'>{{first}} {{last}} signed this petition on {{date.[0]}} at {{date.[1]}}</figcaption>
        </figure>
        
    </div>
</div>